h1, p, div, a {
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

.table-mod {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid black;
}

.table-mod td {
    border: 1px solid black;
    padding: 5px;
}